<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lolstats.eldin.com.lolstats" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverviewPage"
            android:label="Overview"
            android:parentActivityName="lolstats.eldin.com.lolstats.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.MainActivity" />
        </activity>
        <activity
            android:name=".currentMatchPage"
            android:label="Current match"
            android:parentActivityName="lolstats.eldin.com.lolstats.OverviewPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.OverviewPage" />
        </activity><activity
        android:name=".detailedRankedPage"
        android:label="Ranked stats"
        android:parentActivityName="lolstats.eldin.com.lolstats.OverviewPage" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="lolstats.eldin.com.lolstats.OverviewPage" />
    </activity>

    </application>

</manifest>
